body{
	background-image: url(background.png);
	text-align: center;
	font-family:'Courgette', cursive;
	font-size: 15px;
}

body div div nav a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

body div div nav a:hover {background-color: #eee;}

.layout {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"layout layout layout layout layout layout"
	"menu menu menu menu menu menu"
	"tagline tagline tagline tagline tagline tagline"
	"sidebar konten konten konten konten"
	"footer footer footer footer footer footer"
}

#header {
	width: 100%;
	height: 130px;
}

#menu {
	width: 100%;
	background-color: violet;
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	float: left;
}

#tagline{
	color: black;
	margin: 20px;
	justify-content: center;
	grid-area: tagline;
	text-align: center;
	display: grid;
}
#menu ul li a {
	float: left;
	color: #d4d4d4;
	padding: 12px 20px;
	text-decoration: none;
	background: '';
	border-left: 1px solid #3C4042;
	text-shadow: 0 -1px 1px rgba(0,0,0,0);
}

#menu ul li a:hover {
	color: black;
	background: #3C4042;
}

#isiabout {
	text-align: center;
	grid-template-areas: isi;
	display: grid;
	margin: auto;
	font-size: 20px;
}

img.kiri {
	float: left;
	margin-right: 16px;
}

#isiportofolio {
	
	text-align: left;
}

#isicontact {
	
	text-align: left;
	color: black;
}

#footer {
	clear: both;
	padding: 25px;
	text-align: center;
	color : red;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

@media screen and (min-width: 1000px) {
		
}

<style type="text/css">
.form-style-3{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;

}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.form-style-3 .required{
	color:red;
	font-weight:normal;
}
</style>